body{
    background-color: rgb(39, 33, 60);
    font-family: Minion Pro;
    font-size: 25pt;
    overflow-x: hidden;
}

img, video{
  width: 100%;
  display: block;
}

/* fonts */

div.handwrittentext{
  font-family: "adobe-handwriting-ernie", sans-serif;
}

div.Gemeli{
    font-family: "gemeli-mono", serif;
    font-weight: 500;
    font-style: normal;
}

div.minion{
  font-family: "minion-pro", serif;;
}

/* Susbsection specifics */

div.Title{
  font-size: 40pt;
  color:rgb(234, 219, 22);
}

div.paragraph{
  font-size: 25pt; 
  color: rgb(255, 255, 255);
}


div.Subtitle{
  color: rgb(234, 219, 22);
  font-size: 30pt;
}

div.Annotations{
  color: rgb(136, 135, 28);
}

/* Margins*/

div.marginb{
  margin-bottom: 80px;
}
div.marginlb{
  margin-bottom: 160px;
}
div.margint{
  margin-top: 200px;
}

div.marginl{
  margin-left: 40px;
}

div.marginr{
  margin-right: 40px;
}

div.marginlauto{
  margin-left: auto;
}

div.marginrauto{
  margin-right: auto;
}

div.margintauto{
margin-top: auto;
}

div.padding{
  padding-top: 40px;
  padding-bottom: 40px;
}


/* widths (1, 1/3, 2/3, 1/2) */

div.width100{
  width: 100%;
}

div.width33{
  width: 33.333%;
}

div.width66{
  width: 66.666%;
}


div.width50{
  width: 50%;
}

div.width25{
  width: 25%;
}

div.widthimg{
  width: 350px;
}

div.width16{
  width: 16.67%;
}

div.widthauto{
  width: auto;
}
div.widthS{
  width: 100vw;

}

/* Background colours */

div.bglg{
  background-color: rgb(136, 135, 28)
}

div.bgdg{
  background-color:rgb(99, 100, 62);
}

div.bgw{
  background-color: white;
}

div.bgdp{
  background-color: rgb(39, 33, 60);
}

/* Layout */

div.flex{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  overflow-x: hidden;
}

/* borders */

div.borderY{
  border-style: solid;
  border-color: rgb(234, 219, 22);
  border-width: 20px;
}

div.borderG{
  border-style: solid;
  border-color:rgb(99, 100, 62);
  background-color:rgb(99, 100, 62) ;
  border-width: 20px 200px 20px 20px;
}

/* indents */

div.indent{
  text-indent: 100px;
}

/* hero video */
div.herovideo {
  width: 300px;
  position: fixed;
  bottom:20px;
  right:20px;
}

/* marquees */

div.marqueel {
  display: inline block;
  animation: scroll left 15s linear;
}